.gallery img {
  cursor: pointer;
  width: 200px;
  border: 1px solid #444;
  margin: 15px;
  /* box-shadow: 0px 5px 15px #666; */
  height: 250px;
  object-fit: cover;
  /* opacity: .7; */
  transition: opacity 1s ease;
}

.gallery img:hover {
  opacity: 1;
  /* box-shadow: 0px 5px 50px #111; */
  border: 5px solid #fff;
}

@media (max-width: 600px) {
  .galleryTab button {
    width: 90%;
    margin-bottom: 5px;
  }

  .gallery {
    text-align: center;
  }
}
