.services ul {
  margin: 40px 25px;
}

.services ul li {
  padding: 15px;
}

.normalCSS,
.flipCSS {
}

.flipCSS {
  flex-direction: row-reverse;
}

.servicesPage ul {
  margin: 40px 25px;
}

.servicesPage ul li {
  border-bottom: 1px solid #ddd;
  padding: 7px;
}

.servicesPage img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.deleteSection {
  position: absolute;
  top: 55px;
  right: 0px;
  z-index: 999;
  cursor: pointer;
  margin-top: 5px;
  width: auto !important;
  border: 2px dashed rgb(255, 193, 7);
  background-color: #fff;
  padding: 5px 12px;
}

.editIcon {
  right: 0px;
  padding: 0 !important;
}
