/* .adminEditTestmonial {
  background-color: #fff;
  border: 2px dashed rgb(255, 193, 7);
  position: fixed;
  top: 25px;
  right: 25px;
  bottom: 25px;
  left: 25px;
  z-index: 9990;
  width: calc(100% - 50px) !important;
  height: 100%; -- comment it
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
} */

.adminEditTestmonial {
  background-color: #ddd;
  /* border: 2px dashed rgb(255, 193, 7); */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  width: 640px !important;
  overflow-x: hidden;
  /* overflow-y: hidden; */
  outline: 0;
  padding: 0 15px;
  /* right: -1000px;
  transition: 1s; */
  transform: translateX(100%);
  /* -webkit-transform: translateX(100%); */
}

.selected {
  animation: slide-in 0.5s forwards;
  -webkit-animation: slide-in 0.5s forwards;
}

.dismiss {
  animation: slide-out 0.5s forwards;
  -webkit-animation: slide-out 0.5s forwards;
}

@keyframes slide-in {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0%);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

@media screen and (max-width: 576px) {
  .adminEditTestmonial {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100% !important;
  }
}

.adminEditTestmonial a.close {
  /* text-transform: uppercase; */
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.adminEditTestmonial a.close:hover {
  background-color: rgba(255, 255, 255, .5);
  border-radius: 50%;
  color: #222222 !important;; 
}

.adminEditTestmonialHeader {
  border-bottom: 1px solid #444;
}

/* @media (max-width: 768px) {
  .adminEditTestmonial {
    overflow: auto;
    max-height: 650px;
  }
} */

.slideItem .description {
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.heightCtrl {
  height: 280px; 
  overflow: auto;
  overflow-x: hidden; 
  resize: vertical
}

.fullHeightCtrl {
  height: 80vh !important; 
  overflow: auto;
  overflow-x: hidden; 
  resize: vertical
}


.heightCtrl::-webkit-scrollbar, .fullHeightCtrl::-webkit-scrollbar, .adminEditTestmonial::-webkit-scrollbar  {
    width: 8px;
  }
  
  .heightCtrl::-webkit-scrollbar-track, .fullHeightCtrl::-webkit-scrollbar-track, .adminEditTestmonial::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 1); 
      border-radius: 3px;
  }
  
  .heightCtrl::-webkit-scrollbar-thumb, .fullHeightCtrl::-webkit-scrollbar-thumb, .adminEditTestmonial::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(24, 24, 24, 0.7); 
  }

  .adminEditTestmonial::-webkit-scrollbar {
    width: 8px;
  }
  
  .adminEditTestmonial::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 1); 
      /* border-radius: 3px; */
  }
  
  .adminEditTestmonial::-webkit-scrollbar-thumb {
      /* border-radius: 10px; */
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 1); 
  }

