.ABrief h3,
.ABrief .title {
  font-size: 2.5rem;
  border: 0px;
  /* border-left-width: 15px;
  border-style: Solid; */
  /* height: 100px;
  line-height: 170px; */
  display: flex;
  justify-content: flex-end;
}

/* .ABrief .title::before,
.ABrief h3::before {
  content: "";
  border-left-width: 12px;
  border-style: Solid;
  margin-right: 15px;
} */

.ABrief label {
  color: #333 !important;
}

/* .briefServices {
  background-image: url("../../Images/logo-symbol.svg");
  background-repeat: no-repeat;
  background-position: 180px -50px;
  background-size: 95%;
} */

.briefServices a {
  position: relative;
  animation: myout .4s ease-out;
  animation-fill-mode: backwards;
}

.briefServices a:hover {
  position: relative;
  animation: mymove .2s ease-in;
  animation-fill-mode: forwards;
}

.briefServices a:hover img {
 opacity: .2  
}

@keyframes mymove {
  from {left: 0px;}
  to {left: 20px; }
}

@keyframes myout {
  from {left: 20px;}
  to {left: 0px; }
}



.ABriefImg .servicesList li {
  display: flex;
  justify-content: between;
  align-items: center;
  gap: 10px;
  margin: 25px 0;
}

.ABriefImg .servicesList li a {
  color: #000;
}

.ABriefImg img {
  object-fit: cover;
  -o-object-position: center;
}

@media (max-width: 756px) {
  .ABriefImg img {
    /* display: none; */
  }
}
