.ABriefAbout h3,
.ABriefAbout .title {
  font-size: 2.5rem;
  border: 0px;
  /* border-left-width: 15px;
  border-style: Solid; */
  display: flex;
  justify-content: flex-end;
}

/* .ABriefAbout .title::before,
.ABriefAbout h3::before {
  content: "";
  border-left-width: 12px;
  border-style: Solid;
  margin-right: 15px;
} */

.ABriefAbout img {
  object-fit: contain;
  /* object-position: right; */
  /* width: 75%; */
  /* border-radius: 100%; */
  /* border-top-right-radius: 0; */
  /* box-shadow: 0 15px 0px #3cd9d2; */
}

.ABriefAbout label {
  color: #333 !important;
}
