/* .homeCarousel::after {
  content: "";
  display: block;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0) 0%,
    rgba(22, 93, 61, 0.95) 95%
  );
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
} */

.noImg {
  min-height: 300px;
}

.carousel-item {
  overflow: hidden;
  /* box-shadow: 0 15px 0px #3cd9d2; */
}
.carousel-item img {
  height: 80vh;
  object-fit: cover;
}

.carousel-caption {
  /* background-color: rgba(34, 34, 34, .1); */
  position: absolute;
  z-index: 999;
  text-align: right !important;
  bottom: 30%;
  right: 10%;
  /* width: 75%; */
}

.carousel-caption h1 {
  letter-spacing: 0 !important;
  font-weight: 400 !important;
  /* font-size: 3.5rem; */
  margin: 0px;
  /* font-family: "PT Sans Narrow", sans-serif; */
  /* font-weight: 700 !important; */
  /* font-style: normal; */
  text-shadow: 0px 4px 0 rgba(0,0,0, .3)
}

.subtitle {
  color: #DDFF86;
  letter-spacing: .3rem;
  text-transform: uppercase;
  font-weight: normal !important;
  font-family: "PT Sans Narrow", sans-serif;
}

@media (max-width: 768px) {
  .banner {
    height: 200px !important;
  }
  .carousel-caption {
    width: 70%;
    top: 50%;
  }
  .carousel-caption h1 {
    font-size: 1.6rem;
    font-weight: normal;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }

  .carousel-caption span.subtitle {
    display: none;
  }
  .carousel-caption p.description {
    font-size: 0.9rem !important;
    letter-spacing: 0.1rem;
    font-weight: normal;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }

  .carousel-item img,
  .homeCarousel::after {
    height: 50vh;
  }
}
