.floatingButton {
    position: fixed;
    top: 600px;
    right: 0;
    z-index: 99999;
    transition: top 0.4s ease;

    button {
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
    }

    button i {
        font-size: 24px;
        margin-right:8px
    }

    ul.dropdown-menu {
        max-width: 300px;
        width: 300px;
        border-top-right-radius: 0;
        top: -8px !important;

        li {
            padding: 12px 24px;
            border-bottom: 1px solid #ddd;

            &:last-child {
                border: 0;
            }
        }
    }

    .modal {
        z-index: 99999;
    }
}

.floatingButton.scrolled {
  top: 100px;     /* On scroll position */
}