.dcarousel {
  position: fixed !important;
  /* top: 15vh; */
  top: 24px;
  left: 24px;
  right: 24px;
  bottom: 0px;
  width: 90%;
  height: 100%;
  /* width: 1000px; */
  /* height: 560px; */
  overflow: hidden;
  margin: 0 auto;
  z-index: 99999;
  /* border: 5px solid #ffffff; */
  /* border-radius: 10px; */
}

.dcarousel .carousel-item {
  background-color: rgba(0,0,0, .6);
}

.dcarousel .carousel-item img {
  object-fit: cover;
  /* width: auto; 
  height: 600px; */
  width: auto;
  height: 92vh;
  margin: 0 auto;
}



.dcarousel .closeCarousel {
  position: absolute;
  top: 24px;
  right: 24px;
  color: rgba(255, 255, 255, .5);;
  cursor: pointer;
  z-index: 99;
  /* background: #fff; */
  /* width: 40px;
  height: 40px; */
  /* border-radius: 25px; */
  /* border-top-right-radius: 0; */
  /* text-align: center; */
  /* line-height: 45px; */
  /* box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.6); */
}

@media (max-width: 991px) {
  .dcarousel {
    width: 100%;
  }
  .dcarousel .carousel-inner {
    width: 90%;
    margin: auto;
  }

  .dcarousel .carousel-item img {
    width: 100%;
  }
  
  .dcarousel .closeCarousel {
    right:unset;
    right: 60px;
  }

  .dcarousel .closeCarousel {
    right:unset;
    right: 30px;
  }
}

@media (max-width: 576px) {
  .dcarousel .closeCarousel {
    right:unset;
    right: 30px;
  }

  .carousel-control-next, .carousel-control-prev {
    height: 50vh;
    width: 20%;
  }
}

.dcarousel .closeCarousel:hover i {
  color: #DDFF86;
}

/* .dcarousel .carousel-item {
    display: block;
} */
