/* .homeCarousel::after {
  content: "";
  display: block;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0) 0%,
    rgba(22, 93, 61, 0.95) 95%
  );
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
} */

.noImg {
  min-height: 300px;
}

.carousel-item {
  border-bottom-right-radius: 250px;
  border-bottom-left-radius: 250px;
  overflow: hidden;
  box-shadow: 0 15px 0px #3cd9d2;
}
.carousel-item img {
  height: 65vh;
  object-fit: cover;
}

.carousel-caption {
  z-index: 999;
  text-align: left !important;
  top: 40%;
  width: 45%;
}

.carousel-caption h1 {
  letter-spacing: 0.1rem;
  font-size: 3rem;
}

@media (max-width: 768px) {
  .banner {
    height: 200px !important;
  }
  .carousel-caption {
    width: 70%;
    top: 50%;
  }
  .carousel-caption h1 {
    font-size: 1.6rem;
    font-weight: normal;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }

  .carousel-caption span.subtitle {
    display: none;
  }
  .carousel-caption p.description {
    font-size: 0.9rem !important;
    letter-spacing: 0.1rem;
    font-weight: normal;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }

  .carousel-item img,
  .homeCarousel::after {
    height: 50vh;
  }
}
