{% load i18n %}

{% block subject %}
{% blocktrans %}Password reset on {{ site_name }}{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktrans %}

{% trans "Please go to the following page and choose a new password:" %}
{{ protocol }}://{{ domain }}/{{ url|safe }}
{% trans "In case you've forgotten:" %} {{ user.get_username }}

{% endblock text_body %}

{% block html_body %}
<h2 style="text-align: center;">Reset Password</h2>
<p>{% blocktrans %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktrans %}</p>

<p>{% trans "In case you've forgotten:" %} <b>{{ user.get_username }}</b></p>

<p style="text-align: center; margin-top: 30px;">
  <a style="padding: 10px 20px; background-color: orange; color: #ffffff; border: 0; border-radius: 5px; font-size: 18px; cursor: pointer; border: 0px solid #fff; font-weight: bold" 
     href="{{ protocol }}://{{ domain }}/{{ url|safe }}">Reset Password</a></p>


<i style="margin-top: 50px; display: block;">{% blocktrans %}If you face difficulties in Login to your account kindly contact us on: {{ APP_CONTACT_EMAIL }} {% endblocktrans %}</i>

{% endblock html_body %}
