{% load i18n %}

{% block subject %}
{% blocktrans %}{{ site_name }} - Your password has been successfully changed!{% endblocktrans %}
{% endblock %}

{% block text_body %}
{% trans "Your password has been changed!" %}

{% trans "Thanks for using our site!" %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<h3 style="text-align: center;">{% trans "Your password has been changed!" %}</h3>

<p style="text-align: center; margin-top: 30px;">
  <a style="padding: 10px 20px; background-color: orange; color: #ffffff; border: 0; border-radius: 5px; font-size: 18px; cursor: pointer; border: 0px solid #fff; font-weight: bold" 
    href="{{ protocol }}://{{ domain }}/login">Login to Account</a></p>

    

<i style="margin-top: 50px; display: block;">{% blocktrans %}If you face difficulties in Login to your account kindly contact us on: {{ APP_CONTACT_EMAIL }} {% endblocktrans %}</i>

{% endblock html_body %}