<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <table
      style="
        width: 90%;
        margin: 5%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 16px;
        line-height: 1.6rem;
      "
    >
      <tr>
        <td style="padding: 5px 7px; width: 100px">Name</td>
        <td style="padding: 5px 7px; font-weight: bold">{{name}}</td>
      </tr>

      <tr>
        <td style="padding: 5px 7px; width: 100px">Company Name</td>
        <td style="padding: 5px 7px; font-weight: bold">{{company}}</td>
      </tr>

      <tr>
        <td style="padding: 5px 7px; width: 100px">Email</td>
        <td style="padding: 5px 7px; font-weight: bold">{{email}}</td>
      </tr>

      <tr>
        <td style="padding: 5px 7px; width: 100px">Phone</td>
        <td style="padding: 5px 7px; font-weight: bold">{{phoneNumber}}</td>
      </tr>
      <tr>
        <td style="padding: 5px 7px; width: 100px">City/Address</td>
        <td style="padding: 5px 7px; font-weight: bold">{{cityAddress}}</td>
      </tr>
      <tr>
        <td style="padding: 5px 7px; width: 100px">State/Province</td>
        <td style="padding: 5px 7px; font-weight: bold">{{stateProvince}}</td>
      </tr>
      <tr>
        <td style="padding: 5px 7px; width: 100px">Nature of Project</td>
        <td style="padding: 5px 7px; font-weight: bold">{{natureofProject}}</td>
      </tr>
      <tr>
        <td style="padding: 5px 7px; width: 100px">Country</td>
        <td style="padding: 5px 7px; font-weight: bold">{{country}}</td>
      </tr>
      <tr>
        <td style="padding: 5px 7px; width: 100px">Teams</td>
        <td style="padding: 5px 7px; font-weight: bold">{{teams}}</td>
      </tr>
      <tr>
        <td style="padding: 5px 7px; width: 100px">Other</td>
        <td style="padding: 5px 7px; font-weight: bold">{{other}}</td>
      </tr>
      <tr>
        <td style="padding: 5px 7px; width: 100px">Phone</td>
        <td style="padding: 5px 7px; font-weight: bold">{{phoneNumber}}</td>
      </tr>

      <tr>
        <td style="padding: 5px 7px; width: 100px; vertical-align: top">
          Message
        </td>
        <td style="padding: 5px 7px; font-weight: bold">{{description}}</td>
      </tr>
    </table>
  </body>
</html>
