<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table style="width: 90%; margin: 5%; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 16px; line-height: 1.6rem;">
        <tr>
            <td style="padding: 5px 7px; width: 100px ">Name</td>
            <td style="padding: 5px 7px; font-weight: bold">{{user}}</td>
        </tr>

        <tr>
            <td style="padding: 5px 7px; width: 100px ">Email</td>
            <td style="padding: 5px 7px; font-weight: bold">{{email}}</td>
        </tr>

        <tr>
            <td style="padding: 5px 7px; width: 100px ">Phone</td>
            <td style="padding: 5px 7px; font-weight: bold">{{phoneNumber}}d>
        </tr>

        <tr>
            <td style="padding: 5px 7px; width: 100px; vertical-align: top;">Message</td>
            <td style="padding: 5px 7px; font-weight: bold ">{{description}}</td>
        </tr>
    </table>
</body>
</html>