<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="width: 88%; margin: 3%; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 16px; line-height: 1.6rem;">
        <h2>Hi {{user}}</h2>
        <p>Thanks for contacting LEOMTech! This automatic reply is just to let you know that we received your message and we will get back to you with a response as quickly as possible. During business hours, we do our best to reply as quick as we can, usually within a couple of hours.</p>
        
    </div>
</body>
</html>