<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div
      style="
        width: 88%;
        margin: 3%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 16px;
        line-height: 1.6rem;
      "
    >
      <h2>Hi {{user}}</h2>
      <p>
        Thank you for being a valued user of {{appName}}! We're thrilled to
        share the latest updates designed to make your experience smoother,
        faster, and more powerful. Here's what's new:
      </p>
      <p>
        Thank you for choosing {{appName}}. We're excited to hear how these
        updates empower your workflow! <br />
        Best regards, <br />
        {{appName}} <br />
        Product Team @ {{appName}}
      </p>
    </div>
  </body>
</html>
