footer ul {
  list-style: none;
}
footer h5 {
  margin: 0 0 20px;
  font-size: 1.6rem;
}

footer .socialLinks {
  padding: 15px 0;
}

footer li {
  padding: 3px 0;
}

footer .socialLinks img {
  width: 80%;
}
footer .socialLinks i {
  font-size: 2.5rem;
  margin: 25px 10px 0;
}



/* .footerCopyRights {
  font-size: 1rem !important;
}

.dby,
.dby a {
  font-size: 0.8rem;
  color: #999999;
} */

@media (max-width: 991px) {
  footer .socialLinks img {
    width: 50%;
  }

  footer li {
    padding: 7px 0;
  }

  footer .socialLinks i {
    font-size: 2rem;
    margin: 15px 9px 0;
  }
}
