/* .card {homeIconsAllServices
  border-radius: 0px !important;
  overflow: hidden;
  border: 0px !important;
  background-color: #fff !important;
} */

/* .cardGreenBg {
  background-color: #a8c849 !important;
} */

/* .card-body {
  padding: 30px !important;
} */

/* .card-body h3 {
  font-size: 1.6rem;
  font-weight: 500;
}

.card-body p {
  font-size: 1rem;
  color: #222;
}

.card-body a {
  color: #165d3d;
  text-decoration: none;
  font-weight: bold;
} 

.card-body a svg {
  width: 20px;
  transition: transform 0.3s;
}

.card-body a:hover svg {
  transform: translateX(10px);
}*/

/*  Eight Blocks */
/* .homeSections {
  border-top: 5px solid #017db9;
  border-bottom: 5px solid #698845;
} */

.ourCulture {
  background: #017db9;
  /* background-image: url("../../../Images/ourculture.png"); */
  background-size: cover;
  min-height: 530px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 70px 75px !important;
}

.ourCulture .title {
  font-size: 2.6rem;
  font-weight: 500 !important;
}

.ourCulture .subTitle {
  font-size: 1.5rem;
  font-weight: 600 !important;
}

.professional {
  /* background-image: url("../../../Images/professional.png"); */
  background-size: cover;
  min-height: 265px;
}

.quality {
  /* background-image: url("../../../Images/quality.png"); */
  background-size: cover;
  min-height: 265px;
}

.transparency {
  /* background-image: url("../../../Images/transparency.png"); */
  background-size: cover;
  min-height: 265px;
}

.borderBottom {
  border-bottom: 1px solid #ddd;
}

.homePage .pageBanner img {
  height: calc(100vh - 100px);
  object-fit: cover;
}

.homePage .pageBanner .titleCaption {
  padding: 10px 120px 150px !important;
}

@media (max-width: 576px) {
  .homePage .pageBanner .titleCaption {
    padding: 10px 50px 120px !important;
  }
}

/*  End of Eight Blocks */

.homeProjectsInfo .breiftopMargin {
  margin-top: 0px !important;
}

.homeProjectsInfo .breiftopMargin > .container > div {
  padding-top: 0px !important;
}

.homeIconsheilights {
  background-color: #FF9D00;
  color: #fff;
  padding: 48px 0;
}

.homeIconsheilights p {
  color: #fff
}

.homeDynamciServicesIntro {
  padding: 0 0 48px;
  background-color: #6D2F9B;
  color: white;
  text-align: center;
  background-image: url('../../../Images/IconHomeServicesBgImage.png');

  .breiftopMargin {
    border-bottom: 1px solid rgba(255, 255, 255, .1)
  }
}

.homeDynamciServices {
  padding: 24px 0;
  .homeService {
    position: relative;
  }

  .homeService a {
    text-decoration-color: rgba(255, 255, 255, .2) !important;

    &:hover {
      text-decoration-color: rgba(255, 255, 255, 1) !important;
    }
  }

  .homeService .breiftopMargin {
    min-height: 320px;
    border-bottom: 1px solid rgba(255, 255, 255, .2)
  }

  .homeService .breiftopMargin .container > div {
    padding: 10px 0 !important;
  }

  .homeService .briefIntro h5 {
    text-align: left;
  }

  .homeService .briefIntro p {
    color: rgba(255, 255, 255, .7) !important;
  }

  .row .col-md-4 {
    background-repeat: no-repeat;
    background-position: right 15px bottom 5px;

    @media(max-width: 768px) {
      background-position: right 32px bottom 5px;
    }
  }

  .row .col-md-4:nth-child(1) {
    background-image: url('../../../Images/studies.png');
  }

  .row .col-md-4:nth-child(2) {
    background-image: url('../../../Images/engineering.png');
  }

  .row .col-md-4:nth-child(3) {
    background-image: url('../../../Images/calculator.png');
  }

  .row .col-md-4:nth-child(4) {
    background-image: url('../../../Images/management.png');
  }

  .row .col-md-4:nth-child(5) {
    background-image: url('../../../Images/engineer.png');
  }

  .row .col-md-4:nth-child(6) {
    background-image: url('../../../Images/engineering-services.png');
  }
}


/* Home Page Projects Carousel CSS */

.homeMultyPurposeCarousel {
  background-color: rgba(34, 34, 34, .1);
  position: relative;

  .carousel-indicators {
    display: none;
    button {
      width: 16px;
    }
  }

   .carousel-control-prev, .carousel-control-next {
    top: 24px !important;
    align-items: start;
    opacity: .7 !important;

    @media(max-width: 480px) {
      top: -16px !important;
    }
   }

   .carousel-control-prev{
    left: 88% !important;

    @media(min-width: 421px ) and (max-width: 991px) {
      left: 78% !important;
    }

    @media(max-width: 480px) {
      left: 65% !important;
    }
   }
  
  .carousel-control-prev-icon, .carousel-control-next-icon {
    padding: 12px;
    background-color: #222;
    border-radius: 4px;
    display: inline-block;
    background-size: 60%;
  }

  .carouselImg, .carouselDescription {
    height: 500px;
    

    @media(max-width: 480px) {
      height: auto;
    }

    
  }
  .carouselImg img {
   height: 100%;
   object-fit: cover;
  }

  .carouselDescription {
    padding: 0 80px;

    @media(max-width: 820px) {
      padding: 32px;
    }

    h1 {
      font-size: 32px;
      color: #222;
    }
    span {
      color: #6D2F9B;
    }
  }
}