<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div style="width: 88%; margin: 3%; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 16px; line-height: 1.6rem">
      <h2>Hi {{firstName}}</h2>
      <p>
        Thank you for your interest in the {{jobtitle}} position at {{APPNAME}} and for submitting your application. We have received your application
        and appreciate you taking the time to apply. "
      </p>
    </div>
  </body>
</html>
